:root {
  --primary-color: #ace0ac;
  --secondary-color: #945474;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  background: url(https://i.imgur.com/DJXddUT.png) no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-brand {
  padding: 0px 0px 0px 10px;
}

.navbar.navbar-expand-lg.navbar-light {
  border-bottom: 5px solid #945474;
}

navbar-toggler {
  margin: 0px 10px 0px 0px;
}

.nav-margin {
  margin-top: 150px;
}

h1 {
  font-family: "Lobster Two", cursive;
  text-align: center;
  font-size: 150px;
  line-height: 160px;
}

h3,
h6 {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.nav-grid {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  flex-direction: row;
}

.nav-grid a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 5px;
  text-decoration: none;
  text-transform: capitalize;
}

div.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}
.col-3 {
  padding: 70px 150px;
  margin: 50px auto;
  border: 2px solid #945474;
  border-radius: 25px;
  text-align: center;
}

span.col-3.about {
  background: url(https://i.imgur.com/QR5n3Yk.png) no-repeat;
  box-shadow: var(--box-shadow);
}

span.col-3.about:hover {
  background: url(https://i.imgur.com/nbSiHYw.png) no-repeat;
    transition: 0.5s ease-in-out;
  font-size: 25PX;
}

span.col-3.projects {
  background: url(https://i.imgur.com/1cpLjEM.png) no-repeat;
  box-shadow: var(--box-shadow);
}

span.col-3.projects:hover {
  background: url(https://i.imgur.com/eYNeheO.png) no-repeat;
    transition: 0.5s ease-in-out;
  font-size: 25PX;
}

span.col-3.contact {
  background: url(https://i.imgur.com/sBmlQMH.png) no-repeat;
  box-shadow: var(--box-shadow);
}

span.col-3.contact:hover {
    background: url(https://i.imgur.com/CwqGitg.png) no-repeat;
  transition: 0.5s ease-in-out;
  font-size: 25PX;
}

button.home {
    display: inline-block;
    text-align: center;
    font-family: "Poppins", sans-serif;
    border-radius: 8px;
    background: var(--secondary-color);
    color: white;
}

.github-link {
  text-decoration: none;
  text-align: center;
  color: var(--secondary-color);
}