:root {
  --primary-color: #ace0ac;
  --secondary-color: #945474;
  --tertiary-color: #DEFFDE;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-font: "Lobster Two", cursive;
  --content-font: "Poppins", sans-serif;
}
body {
  background: url(https://i.imgur.com/DJXddUT.png) no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-brand {
  padding: 0px 0px 0px 10px;
}

.navbar.navbar-expand-lg.navbar-light {
  border-bottom: 5px solid #945474;
}

navbar-toggler {
  margin: 0px 10px 0px 0px;
}

.nav-margin {
  margin-top: 150px;
}

h1 {
  font-family: "Lobster Two", cursive;
  text-align: center;
  font-size: 150px;
  line-height: 160px;
}

h3,
h6 {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.nav-grid {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  flex-direction: row;
}

div.row.index {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin-bottom: 80px;
}
span.col-3.about,
span.col-3.projects,
span.col-3.contact {
  padding: 60px 140px;
  margin: 20px auto;
  border: 2px solid #945474;
  border-radius: 25px;
  text-align: center;
}

span.col-3.about {
  background: url(https://i.imgur.com/xM4mFmG.png) no-repeat;
  box-shadow: var(--box-shadow);
}

span.col-3.about:hover {
  transition: 0.5s ease-in;
  transition: 0.5s ease-out;
}

span.col-3.projects {
  background: url(https://i.imgur.com/oOQNn7j.png) no-repeat;
  box-shadow: var(--box-shadow);
}

span.col-3.projects:hover {
  transition: 0.5s ease-in-out;
}

span.col-3.contact {
  background: url(https://i.imgur.com/sBmlQMH.png) no-repeat;
  box-shadow: var(--box-shadow);
}

span.col-3.contact:hover {
  transition: 0.5s ease-in-out;
}

button.home {
  text-align: center;
  font-family: "Poppins", sans-serif;
  border-radius: 8px;
  background: var(--secondary-color);
  color: white;
  margin: 0 auto;
  padding: 10px 20px;
  position: relative;
  left: -45px;
}

button.home:hover {
  color: var(--secondary-color);
  background: #fefefe;
  border: 2px solid var(--secondary-color);
  border-radius: 8px;
}

.github-link {
  text-decoration: none;
  text-align: center;
  color: var(--secondary-color);
}

/* about page */

h1.about-me {
  margin: 150px auto 30px;
  font-size: 100px;
}

img.img-fluid.headshot {
  width: 400px;
  display: inline-block;
  border: 4px solid var(--secondary-color);
  padding: 0;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}

p {
  font-family: var(--content-font);
  text-align: left;
  font-size: 20px;
}

div.row.about {
  margin: 0 auto 80px;
}

div.container {
  margin: 0 auto;
}

div.container.about-skills {
  border: 4px solid #639463;
  background: var(--primary-color);
  border-radius: 8px;
  margin-bottom: 50px;
  box-shadow: var(--box-shadow);
}

button.about {
  text-align: center;
  font-family: "Poppins", sans-serif;
  border-radius: 8px;
  background: var(--secondary-color);
  color: white;
  margin: 0 auto;
  padding: 10px 20px;
}

button.about:hover {
  color: var(--secondary-color);
  background: #fefefe;
  border: 2px solid var(--secondary-color);
  border-radius: 8px;
  transition: .5s ease-in-out;
}

h4.skills {
  text-align: center;
  margin-top: 30px;
  font-family: var(--content-font);
}

li {
  list-style-type: none;
  text-align: center;
  font-size: 20px;
}

span.col-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.row.about-contact {
    display: flex;
    justify-content: center;
}

span.col-6.contact-icons {
    background: #639463;
    border: 4px solid var(--primary-color);
    border-radius: 55px;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0px 5px 30px;

}

.fab.fa-linkedin,
.fas.fa-envelope-square {
    font-size: 55px;
    color: white;
    position: relative;
    top: 12px;
    
}

.fab.fa-linkedin:hover,
.fas.fa-envelope-square:hover {
    color: var(--tertiary-color);
    transition: .35s ease-in-out;
}