:root {
  --primary-color: #ace0ac;
  --secondary-color: #945474;
  --tertiary-color: #deffde;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-font: "Lobster Two", cursive;
  --content-font: "Poppins", sans-serif;
}
body {
  background: url(https://i.imgur.com/DJXddUT.png) no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-brand {
  padding: 0px 0px 0px 10px;
}

.navbar.navbar-expand-lg.navbar-light {
  border-bottom: 5px solid #945474;
  font-family: var(--content-font);
}

navbar-toggler {
  margin: 0px 10px 0px 0px;
}

.nav-margin {
  margin-top: 150px;
}

h1 {
  font-family: "Lobster Two", cursive;
  text-align: center;
  font-size: 150px;
  line-height: 160px;
}

h3,
h6 {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.nav-grid {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  flex-direction: row;
}

div.row.index {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin-bottom: 80px;
}
span.col-3.about,
span.col-3.projects,
span.col-3.contact {
  padding: 60px 140px;
  margin: 20px auto;
  border: 2px solid #945474;
  border-radius: 25px;
  text-align: center;
}

span.col-3.about {
  background: url(https://i.imgur.com/xM4mFmG.png) no-repeat;
  box-shadow: var(--box-shadow);
}

span.col-3.about:hover {
  transition: 0.5s ease-in;
  transition: 0.5s ease-out;
}

span.col-3.projects {
  background: url(https://i.imgur.com/oOQNn7j.png) no-repeat;
  box-shadow: var(--box-shadow);
}

span.col-3.projects:hover {
  transition: 0.5s ease-in-out;
}

span.col-3.contact {
  background: url(https://i.imgur.com/sBmlQMH.png) no-repeat;
  box-shadow: var(--box-shadow);
}

span.col-3.contact:hover {
  transition: 0.5s ease-in-out;
}

button.home {
  text-align: center;
  font-family: "Poppins", sans-serif;
  border-radius: 8px;
  background: var(--secondary-color);
  color: white;
  margin: 0 auto;
  padding: 10px 20px;
  position: relative;
  left: -45px;
}

button.home:hover {
  color: var(--secondary-color);
  background: #fefefe;
  border: 2px solid var(--secondary-color);
  border-radius: 8px;
}

.github-link {
  text-decoration: none;
  text-align: center;
  color: var(--secondary-color);
}

/* about page */

h1.about-me {
  margin: 150px auto 5px;
  font-size: 100px;
}

img.img-fluid.headshot {
  width: 400px;
  display: inline-block;
  border: 4px solid var(--secondary-color);
  padding: 0;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}

span.col-md-6,
span.col-6 {
  display: flex;
  justify-content: center;
}

p.about {
  font-family: var(--content-font);
  text-align: left;
  font-size: 15px;
  margin-right: 100px;
}

div.row.about {
  margin: 0 auto 80px;
}

div.container {
  margin: 0 auto;
}

div.container.about-skills {
  border: 4px solid #639463;
  background: var(--primary-color);
  border-radius: 8px;
  margin-bottom: 50px;
  box-shadow: var(--box-shadow);
  max-width: 800px;
}

ul,
span.col-4 {
  max-width: 250px;
}

div.row.about-skills {
  display: flex;
  justify-content: center;
}

button.about {
  text-align: center;
  font-family: "Poppins", sans-serif;
  border-radius: 8px;
  background: var(--secondary-color);
  color: white;
  margin: 0 auto;
  padding: 10px 20px;
}

button.about:hover {
  color: var(--secondary-color);
  background: #fefefe;
  border: 2px solid var(--secondary-color);
  border-radius: 8px;
  transition: 0.5s ease-in-out;
}

h4.skills2 {
  text-align: center;
  margin-top: 3px;
  font-family: var(--content-font);
  text-decoration: underline;
}

h4.skills {
  text-align: center;
  margin-top: 30px;
  font-family: var(--content-font);
  text-decoration: underline;
}

li {
  list-style-type: none;
  text-align: center;
  font-size: 20px;
}

span.col-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.row.about-contact {
  display: flex;
  justify-content: center;
}

span.col-6.contact-icons {
  background: #639463;
  border: 4px solid var(--primary-color);
  border-radius: 55px;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0px 5px 30px;
}

span.col-3.contact-icons {
  background: #639463;
  border: 4px solid #fefefe;
  border-radius: 55px;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.fab.fa-linkedin,
.fas.fa-envelope-square,
.fab.fa-github-square,
.fab.fa-facebook-square {
  font-size: 55px;
  color: white;
  position: relative;
  top: 12px;
}

.fab.fa-linkedin:hover,
.fas.fa-envelope-square:hover,
.fab.fa-github-square:hover,
.fab.fa-facebook-square:hover {
  color: var(--tertiary-color);
  transition: 0.35s ease-in-out;
  font-size: 60px;
}

.beans-link {
  color: #639463;
  text-decoration: none;
  font-weight: bold;
}

.beans-link:hover {
  color: var(--secondary-color);
}

/* work page */
h1.projects {
  margin: 150px auto 5px;
  font-size: 100px;
}

p.work {
  text-align: center;
  margin: 50px 150px;
  font-family: var(--content-font);
  font-size: 17px;
}

div.container.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

span.dictionary-app {
  margin-bottom: 50px;
  border: 4px solid var(--secondary-color);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  background: url(https://i.imgur.com/17kMyl9.png) no-repeat;
  padding: 150px 200px;
}

span.dictionary-app:hover {
  transition: 0.5s ease-in-out;
  background: url(https://s3.gifyu.com/images/48bbda278683c7879bebd57f0e2f9271.gif)
    no-repeat;
}

span.react-weather {
  margin-bottom: 50px;
  border: 4px solid var(--secondary-color);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  background: url(https://i.imgur.com/D2pGW8U.png) no-repeat;
  padding: 150px 200px;
}

span.react-weather:hover {
  transition: 0.5s ease-in-out;
  background: url(https://s3.gifyu.com/images/48bbda278683c7879bebd57f0e2f9271.gif)
    no-repeat;
}

span.vanilla-weather {
  margin-bottom: 50px;
  border: 4px solid var(--secondary-color);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  background: url(https://i.imgur.com/V5WMXZa.png) no-repeat;
  padding: 150px 200px;
}

span.vanilla-weather:hover {
  background: url(https://i.imgur.com/I3JoIcq.png) no-repeat;
  transition: 0.5s ease-in-out;
}

button.work {
  text-align: center;
  font-family: "Poppins", sans-serif;
  border-radius: 8px;
  background: var(--secondary-color);
  color: white;
  margin: 0 auto;
  padding: 10px 20px;
}

button.work:hover {
  color: var(--secondary-color);
  background: #fefefe;
  border: 2px solid var(--secondary-color);
  border-radius: 8px;
  transition: 0.5s ease-in-out;
}

/* contact page */

h1.contact {
  margin: 150px auto 5px;
  font-size: 100px;
}

div.container.contact {
  border: 4px solid #639463;
  background: var(--primary-color);
  border-radius: 8px;
  margin-bottom: 50px;
  box-shadow: var(--box-shadow);
  padding: 40px 20px;
  max-width: 720px;
}

h5.contact {
  font-family: var(--content-font);
  padding-bottom: 20px;
  text-align: center;
}

span.contact-icons {
  background: #639463;
  border: 4px solid #fefefe;
  border-radius: 55px;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}

div.row.contact {
  margin: 0 40px;
}

span.col-4 {
  padding: 0;
}

/* media queries */
@media (max-width: 900px) {
  h1 {
    font-family: "Lobster Two", cursive;
    text-align: center;
    font-size: 130px;
    line-height: 160px;
  }

  button.about {
    text-align: center;
    font-family: "Poppins", sans-serif;
    border-radius: 8px;
    background: var(--secondary-color);
    color: white;
    margin: 0 auto;
    padding: 10px;
    font-size: 13px;
    position: relative;
    right: 10px;
  }

  ul {
    padding: 0px;
  }

  h1.projects {
    margin: 150px auto 15px;
    font-size: 75px;
    line-height: 80px;
  }

  p.about {
    font-family: var(--content-font);
    text-align: left;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 0;
  }

  span.col-6 {
    width: 500px;
  }

  div.row.about {
    display: flex;
    justify-content: center;
  }

  span.dictionary-app,
  span.react-weather,
  span.vanilla-weather {
    width: 450px;
  }

  span.dictionary-app {
    margin-bottom: 50px;
    border: 4px solid var(--secondary-color);
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    background: url(https://i.imgur.com/9Rw2Ngj.png) no-repeat;
    padding: 150px 200px;
  }

  span.dictionary-app:hover {
    transition: 0.5s ease-in-out;
    background: url(https://s3.gifyu.com/images/mqreact.gif) no-repeat;
  }

  span.react-weather {
    margin-bottom: 50px;
    border: 4px solid var(--secondary-color);
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    background: url(https://i.imgur.com/NmQzZ2d.png) no-repeat;
    padding: 150px 200px;
  }

  span.react-weather:hover {
    transition: 0.5s ease-in-out;
    background: url(https://s3.gifyu.com/images/mqreact.gif) no-repeat;
  }

  span.vanilla-weather {
    margin-bottom: 50px;
    border: 4px solid var(--secondary-color);
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    background: url(https://i.imgur.com/M7uucay.png) no-repeat;
    padding: 150px 200px;
  }

  span.vanilla-weather:hover {
    background: url(https://i.imgur.com/NWI0FWg.png) no-repeat;
    transition: 0.5s ease-in-out;
  }

  button.work {
    text-align: center;
    font-family: "Poppins", sans-serif;
    border-radius: 8px;
    background: var(--secondary-color);
    color: white;
    margin: 0 auto;
    padding: 10px 20px;
    position: relative;
    right: 20px;
  }

  div.container.contact {
    max-width: 450px;
  }

  div.container.about-skills {
    border: 4px solid #639463;
    background: var(--primary-color);
    border-radius: 8px;
    margin-bottom: 50px;
    box-shadow: var(--box-shadow);
    width: 375px;
    margin-top: -50px;
  }
  h4.skills2 {
    text-align: center;
    margin-top: -28px;
  }

  p.work {
    margin: 10px;
    padding-bottom: 10px;
  }

  h1.contact {
    margin: 150px auto 15px;
    font-size: 70px;
    line-height: 90px;
  }
}
